/* Stili di base */
body {
    font-family: Arial, sans-serif; /* Imposta il font del testo */
    margin: 0; /* Rimuove il margine del corpo */
    display: flex; /* Utilizza il layout flessibile */
    justify-content: center; /* Centra gli elementi orizzontalmente */
    align-items: center; /* Centra gli elementi verticalmente */
    min-height: 100vh; /* Altezza minima della finestra del browser */
    background-color: #f2f2f2; /* Colore di sfondo */
}

/* Contenitore principale */
#container {
    text-align: center; /* Allinea il testo al centro */
    max-width: none; /* Larghezza massima del contenitore principale */
    width: 100%; /* Utilizza il 100% della larghezza disponibile */
    margin: 0; /* Rimuove il margine */
    padding: 0; /* Rimuove il padding */
    height: 100vh; /* Altezza del contenitore principale */
}

/* Schermo di avvio */
#startScreen {
    margin-bottom: 30px; /* Margine inferiore */
    text-align: center; /* Allinea il testo al centro */
    max-width: none; /* Larghezza massima */
    position: absolute; /* Imposta il posizionamento assoluto */
    top: 50%; /* Sposta l'elemento al 50% dell'altezza della finestra */
    left: 50%; /* Sposta l'elemento al 50% della larghezza della finestra */
    transform: translate(-50%, -50%); /* Centra l'elemento esattamente al centro */
}


/* Schermo di gioco */
#gameScreen {
    display: none; /* Nasconde lo schermo di gioco all'avvio */
}

/* Intestazione */
header {
    background-color: #8C4A4A; /* Colore di sfondo */
    color: white; /* Colore del testo */
    text-align:center; /* Allinea il testo al centro */
    padding: 20px 20px; /* Spaziatura interna */
}

/* Titolo nell'intestazione */
header h1 {
    margin: 0; /* Rimuove il margine */
    font-size: 40px; /* Dimensione del carattere */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /* Famiglia di caratteri */
}

/* Sezione delle scelte */
.choices {
    display: flex; /* Utilizza il layout flessibile */
    justify-content: center; /* Centra gli elementi orizzontalmente */
    margin-bottom: 20px; /* Margine inferiore */
}

/* Pulsanti delle emoji */
.emoji-buttons {
    display: flex; /* Utilizza il layout flessibile */
    justify-content: center; /* Centra gli elementi orizzontalmente */
}

/* Stili per ogni pulsante delle emoji */
.emoji-buttons button {
    font-size: 3rem; /* Dimensione del carattere */
    margin: 0 10px; /* Margine tra i pulsanti */
    border-radius: 50%; /* Bordo arrotondato */
    background-color: #8C4A4A; /* Colore di sfondo */
    color: white; /* Colore del testo */
    border: none; /* Rimuove il bordo */
    padding: 20px; /* Spaziatura interna */
    cursor: pointer; /* Mostra il cursore come puntatore */
    transition: background-color 0.3s; /* Transizione al passaggio del mouse */
}

/* Effetto al passaggio del mouse sui pulsanti delle emoji */
.emoji-buttons button:hover {
    background-color: #5F2C2C; /* Cambia il colore di sfondo al passaggio del mouse */
}

/* Informazioni sul punteggio */
.score-info {
    color: black; /* Colore del testo */
    font-size: 60px; /* Dimensione del carattere */
    font-family: "Times New Roman", Times, serif; /* Famiglia di caratteri */
}

/* Contenitore del punteggio */
.scoreboard{
    padding-top: 10px; /* Spaziatura superiore */
    padding-bottom: 40px; /* Spaziatura inferiore */
}

/* Contenitore dei punteggi */
.scores-container {
    display: flex; /* Utilizza il layout flessibile */
    align-items: center; /* Allinea gli elementi verticalmente */
    justify-content: space-between; /* Distribuisce uniformemente gli elementi */
    max-width: 400px; /* Larghezza massima */
    padding: 10px; /* Spaziatura interna */
    margin: 0 auto; /* Centra il contenitore */
}

/* Box del punteggio */
.score-box {
    width: 170px; /* Larghezza */
}

/* Emoji del punteggio */
.sign {
    font-size: 80px; /* Dimensione del carattere */
    margin-bottom: 10px; /* Margine inferiore */
}

/* Punteggio */
.score {
    margin-top: 10px; /* Margine superiore */
    margin-bottom: 20px; /* Margine inferiore */
    font-size: 22px; /* Dimensione del carattere */
    font-weight: bold; /* Grassetto */
}






/* Media query per schermi di dimensioni inferiori a 768px */
@media only screen and (max-width: 768px) {
    .some-element {
        width: 100%; /* Imposta la larghezza al 100% */
    }
    /* Aggiungi qui altri stili per adattare il layout */
}



#tempo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #002c53;
    font-size: 40px;
    margin-top: 40px;
}

#timerContainer {
    position: relative;
    width: 60%; /* Riduci la larghezza del container del timer */
    height: 20px; /* Riduci l'altezza della barra del timer */
    margin: 0 auto; /* Centra il container */
    border: 1px solid black; /* Aggiungi il bordo nero */
    overflow: hidden; /* Nascondi il contenuto che va oltre i limiti del container */
}

#timerBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* La barra del timer è inizialmente piena */
    height: 100%;
    background-color: #59bb4c; /* Colore della barra del timer (verde) quando è piena */
    animation: fillTimer linear forwards; /* Animazione per riempire la barra del timer */
}


/* Cambia il colore della barra del timer a giallo quando è a metà */
@keyframes fillTimer {
    0% {
        width: 100%;
    }
    50% {
        background-color: yellow; /* Giallo quando è a metà */
    }
    100% {
        width: 0%;
        background-color: red; /* Rosso quando sta per finire il tempo */
    }
}
