html, body {
    font-family: Roboto Mono;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #8C4A4A;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #8C4A4A;
    color:black;
    text-align: center;

    font-size: 55px;
    font-weight: 500;
}

#container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background-color: white;
    height: 75%;
}

.score-info {
    color: black;
    font-size: 60px;
    font-family: "Times New Roman", Times, serif;
}

.scores-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    padding: 10px;
    margin: 0 auto;
}

.score-box {
    width: 170px;
}

.choices {
    display: flex;
    justify-content: center;
    
    margin-top: 30px;
}

.emoji-buttons {
    display: flex;
    justify-content: center;
}

.emoji-buttons button {
    font-size: 4rem;
    margin: 0 15px;
    border-radius: 50%;
    background-color: #8C4A4A;
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    
    width: 130px;
    height: 130px;

    box-shadow: 2px 2px 19px rgb(0, 0, 0);
}

.emoji-buttons button:hover {
    background-color: #5F2C2C;
}

span {
    position: relative;
    top: -5%;
    left: -1%;
}



.sign {
    font-size: 80px;
    margin-bottom: 10px;
}

.score {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 42px;
    }

    #container {
        zoom: 0.65;
    }
}
