/* Stili per il corpo della pagina */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
}

/* Stili per il contenitore principale */
#container {
    text-align: center;
}

/* Stili per la schermata iniziale */
#startScreen {
    margin-bottom: 30px;
}

/* Stili per il pulsante di avvio partita */
#startButton {
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Effetto hover per il pulsante di avvio partita */
#startButton:hover {
    background-color: #45a049;
}

/* Stili per la schermata del gioco (inizialmente nascosta) */
#gameScreen {
    display: none;
}

/* Stili per la sezione delle scelte dei giocatori */
.choices {
    display: flex;
    flex-direction: column; /* Organizza le colonne in colonna su schermi stretti */
    align-items: center; /* Centra gli elementi orizzontalmente */
    margin-bottom: 20px;
}

/* Stili per le colonne dei giocatori */
.player-column {
    margin: 10px 0; /* Imposta il margine superiore e inferiore per le colonne */
}

/* Stili per i pulsanti delle scelte */
.emoji-buttons button {
    font-size: min(10vw, 5rem); /* Imposta la dimensione del carattere in base alla larghezza dello schermo, ma non superiore a 5 rem */
    margin: 5px; /* Imposta un margine uniforme intorno ai pulsanti */
    padding: 15px; /* Imposta il padding in base alla larghezza dello schermo */
    border-radius: 50%;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Effetto hover per i pulsanti delle scelte */
.emoji-buttons button:hover {
    background-color: #2980b9;
}

/* Stili per le informazioni dei giocatori */
.player-info {
    display: flex;
    justify-content: center;
    margin-bottom: 5vh; /* Imposta il margine inferiore in base all'altezza dello schermo */
}

/* Stili per il modal di fine gioco */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Stili per il contenuto del modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* Stili per il pulsante di chiusura del modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* Effetto hover per il pulsante di chiusura del modal */
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Stili per la visualizzazione del punteggio */
.scoreDisplay {
    margin-bottom: 5vh; /* Imposta il margine inferiore in base all'altezza dello schermo */
    font-weight: bold;
}

/* Stili per la visualizzazione del punteggio */
.scoreDisplay span {
    color: #3498db;
}

/* per lo spazio vuoto tra le scritte*/
.spacer {
    width: 20px; /* Imposta la larghezza dello spazio vuoto */
    height: 1px; /* Imposta l'altezza dello spazio vuoto */
    /* Altre proprietà CSS, se necessario */
}