@media screen and (max-height: 800px) {
    #background {
        zoom: 0.75;
    }
}

@media screen and (max-width: 1400px) and (min-height: 900px) {
    #background {
        zoom: 0.95;
    }
}

@media screen and (max-width: 1430px) and (max-height: 800px) {
    #background {
        zoom: 0.70;
    }
}

@media screen and (max-width: 1320px) and (min-height: 900px) {
    #background {
        zoom: 0.85;
    }
}

@media screen and (max-width: 1360px) and (max-height: 900px) {
    #background {
        zoom: 0.65;
    }
}

@media screen and (max-width: 1300px) and (max-height: 800px) {
    #background {
        zoom: 0.60;
    }
}

@media screen and (max-width: 1230px) and (max-height: 800px) {
    #background {
        zoom: 0.55;
    }
}

@media screen and (max-width: 1200px) and (min-height: 900px) {
    #background {
        zoom: 0.75;
    }
}

@media screen and (max-width: 1140px) and (max-height: 800px) {
    #background {
        zoom: 0.50;
    }
}

@media screen and (max-width: 1050px) and (min-height: 900px) {
    #background {
        zoom: 0.65;
    }
}

@media screen and (max-width: 950px) and (min-height: 900px) {
    #background {
        zoom: 0.60;
    }
}

@media screen and (max-width: 850px) and (min-height: 900px) {
    #background {
        zoom: 0.50;
    }
}



@media screen and (max-width: 720px) {
    #background {
        zoom: 0.45;
    }
}

@media screen and (max-width: 650px) {
    #background {
        zoom: 0.40;
    }
}

@media screen and (max-width: 550px) {
    #background {
        zoom: 0.35;
    }
}



/* supporto mobile: cambia lo sfondo (ruotato) e si ruota canvas-container */
@media screen and (max-width: 500px) {
    #background {
        background-image: url(../images/sfondo1_ruotato.png) !important;
        zoom: 1;
    }
    #canvas-container {
        transform: rotate(90deg);
        zoom: 0.40;
    }

    #playerName.text {
        top:50%;
        left:120%;
        transform: translate(-120%, -50%) rotate(90deg);
        font-size: 40px;
    }
 
    .buttonCont.text {
        top: 50%;
        left: -20%;
        transform: translate(20%, -50%) rotate(90deg);
        font-size: 20px;
    }

    #yourTurn.text {
        transform: translate(-50%, -50%) rotate(90deg)
    }

    .flip-card.text {
        transform: translate(-50%, -50%) rotate(90deg)
    }

    .toast-container.text {
        transform: translate(-50%, -50%) rotate(90deg) !important;
    }

}