@media screen and (max-height: 800px) {
    #background {
        zoom: 0.75;
    }
}

@media screen and (max-width: 1400px) and (min-height: 900px) {
    #background {
        zoom: 0.95;
    }
}

@media screen and (max-width: 1430px) and (max-height: 800px) {
    #background {
        zoom: 0.70;
    }
    #playerContainer.text {
        zoom: 0.95;
    }
}

@media screen and (max-width: 1320px) and (min-height: 900px) {
    #background {
        zoom: 0.85;
    }
    #playerContainer.text {
        zoom: 0.90;
    }
}

@media screen and (max-width: 1360px) and (max-height: 900px) {
    #background {
        zoom: 0.65;
    }
    #playerContainer.text {
        zoom: 0.85;
    }
}

@media screen and (max-width: 1300px) and (max-height: 800px) {
    #background {
        zoom: 0.60;
    }
    #playerContainer.text {
        zoom: 0.84;
    }
}

@media screen and (max-width: 1230px) and (max-height: 800px) {
    #background {
        zoom: 0.55;
    }
    #playerContainer.text {
        zoom: 0.82;
    }
}

@media screen and (max-width: 1200px) and (min-height: 900px) {
    #background {
        zoom: 0.75;
    }
}

@media screen and (max-width: 1140px) and (max-height: 800px) {
    #background {
        zoom: 0.50;
    }
    #playerContainer.text {
        zoom: 0.80;
    }
}

@media screen and (max-width: 1050px) and (min-height: 900px) {
    #background {
        zoom: 0.65;
    }
    #playerContainer.text {
        zoom: 0.85;
    }
}

@media screen and (max-width: 950px) and (min-height: 900px) {
    #background {
        zoom: 0.60;
    }
    #playerContainer.text {
        zoom: 0.84;
    }
}

@media screen and (max-width: 850px) and (min-height: 900px) {
    #background {
        zoom: 0.50;
    }
    #playerContainer.text {
        zoom: 0.80;
    }
}

@media screen and (max-width: 720px) {
    #background {
        zoom: 0.45;
    }
    #playerContainer.text {
        zoom: 0.70;
    }
}

@media screen and (max-width: 650px) {
    #background {
        zoom: 0.40;
    }
    #playerContainer.text {
        zoom: 0.68;
    }
}

@media screen and (max-width: 550px) {
    #background {
        zoom: 0.35;
    }
    #playerContainer.text {
        zoom: 0.65;
    }
}



/* supporto mobile: cambia lo sfondo (ruotato) e si ruota canvas-container */
@media screen and (max-width: 500px) {
    #background {
        background-image: url(../images/sfondo1_ruotato.png) !important;
        zoom: 0.85;
    }

    #canvas-container {
        transform: rotate(90deg);
        zoom: 0.40;
    }

    .buttonCont.text {
        top: 50%;
        left: -12%;
        transform: translate(12%, -50%) rotate(90deg);
        zoom: 0.54;
    }
 
    #button .text-icon span {
        padding: 0 5px;
    }

    #playerContainer.text {
        transform: translate(-50%, -90%) rotate(90deg);
        top: 50%;
        left: 90%;
        zoom: 0.5;
    }

    #open-chat.open-chat {
        transform: translateY(-95%) rotate(90deg);
        top: 95%;
        zoom: 0.7;
    }

    #yourTurn.text {
        top: 50%;
        left: 100%;
        transform: translate(-100%, -50%) rotate(90deg);
        zoom: 0.7;
    }

    .flip-card.text {
        transform: translate(-50%, -50%) rotate(90deg);
        zoom: 0.7;
    }

    .toast-container {
        transform: translate(-50%, -50%) rotate(90deg) !important;
    }

    .diceCont.special {
        transform: translate(-25%, -50%) rotate(90deg) !important;
        zoom: 0.5;
        top: 50%;
        left: 25%;
    }

    .chat.text {
        transform: translate(-135%, -10%) rotate(90deg) scale(1);
        top: 10%;
        left: 135%;
        height: 200px;
    }

    .hand {
        transform: translate(-5%, -50%) rotate(90deg) !important;
        zoom: 0.5;
        top: 50% !important;
        left: 5% !important;
    }
}