@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    margin: 0; padding: 0;
    background-color: #8C4A4A !important;
}

#background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    z-index: -1;
    background: url(../images/sfondo1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#canvas-container {
    position: inherit;
    width: inherit;
    height: inherit;
    top: inherit;
    left: inherit;
}

#button {
    position: fixed;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    
    cursor: pointer;
    padding: 20px;
    font-size: 50px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
}

#playerName {
    position: fixed;
    top: 100%;
    transform: translate(0, -100%);

    font-size: 50px;
    color: white;
    background-color: black;
}

#canvas {
    background-image: url(../images/sfondo2.png);
    background-size: 100% 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flip-card {
    background-color: transparent;
    width: 220px;
    height: 300px;
    perspective: 1000px; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}


.flip-card-front {
    background-color: #F2EFE9;
    border:0.5vw solid #002c53;
    border-radius: 15px;
    color:#002c53;
    background-size: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size:80%;

}


.flip-card-back {
    background-color: #F2EFE9;
    color:#002c53;
    border-radius: 15px;
    border: 0.5vw solid #002c53;
    transform: rotateY(180deg);
}


#yourTurn {
  font-size: calc(3.5vh + 3.5vw);
  font-family: Roboto Mono;
  text-align: center;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;

  background-color: rgba(140, 74, 74, 0.7);
  border-radius: 20px;

  visibility: hidden;
  opacity: 0;
  transition: opacity 0.7s;
}