html, body {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto Mono;
  background-color: #8C4A4A;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#header {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: calc(3.9vh + 1.9vw);
  font-weight: 500;
  text-align: center;
  color: #002c53;
  padding-top: 10px;
  min-width: 350px;
}

#timerContainer {
  min-height: 10px !important;
  height: 15px !important;
  min-width: 350px;
}

.container {
  z-index: 1;
  background-color: white;
  width: 35%; 
  min-width: 350px;
  min-height: 350px;
  max-height: 800px;

  padding: 1em;
  margin: 0 auto;
  border-radius: 0.6em;
  box-shadow: 0 1.2em 2.4em rgba(111, 85, 0, 0.25);

  margin-top: 30px;
}


#options-container {
  text-align: center;
  width: 100%;
}

#options-container #big-text {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #fff;
  color:#002c53;
  text-align: center;

  font-size: calc(3vh + 1vw);
  font-weight: 500;

  margin-bottom: 5px;
}

#small-text {
  color: #4679a6;
  margin-bottom: 30px;
  font-size: calc(2vh + 0.1vw);
  font-weight: 600;
}

#options-container .button-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
  width: 100%;
  flex-wrap: wrap;
}

#options-container button {
  font-size: calc(2vh + 0.1vw);
  padding: 0.6em 1.2em;
  border: 5px solid #000000;
  background-color: #ffffff;
  color: #000000;
  border-radius: 0.3em;
  text-transform: capitalize;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

#options-container button:hover {
  background-color: #8C4A4A;
  color: #ffffff;
  transform: scale(1.1);
}

#options-container button:disabled {
  border: 3px solid #808080;
  color: #808080;
  background-color: #efefef;
}

#options-container button.active {
  background-color: #8C4A4A;
  border: 3px solid #000000;
  color: #fff;
}

.letter-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.6em;
}

#letter-container button {
  height: 2.4em;
  width: 2.4em;
  border-radius: 0.3em;
  border: 3px solid #000000;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

#letter-container button:hover {
  background-color: #8C4A4A;
  color: #ffffff;
  transform: scale(1.1);
}

#user-input-section {
  display: flex;
  justify-content: center;
  font-size: 1.8em;
  margin: 15px 0;
}

canvas {
  display: block;
  margin: auto;
  border: 10px solid #8C4A4A;
  border-radius: 10px;
  width: 270px;
  height: 150px;
}

.hide {
  display: none;
}

.win-msg {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #39d78d;
}

.lose-msg {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #fe5152;
}

#wordContainer {
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%);
  text-align: center;
  font-size: calc(3vh + 1vw);
  font-weight: 500;
}