
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: grid;
    place-items: center;
    min-height: 100vh;
    overflow: auto;
   
}



.heading {
    text-align: center;
    font-family: fantasy;
    font-size: 65px;/*11vw; /*13vw*/
    font-weight: 500;
    padding-top: 3%;
    padding-bottom: 1%;
    
    
}

main {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Modificato il layout in colonna */
    gap: 5em; /* Aggiunta spaziatura tra gli elementi */
    
}

#game-info {
    display: flex;
    flex-direction: column; /* Modificato il layout in colonna */
    align-items: center;
    gap: 1vw; /* Aggiunta spaziatura tra gli elementi */
    
}

#game-board {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1.5vw;
    padding-bottom: 7%;
    
}




.card{
    height: 16vw;
    width: 13vw;
    max-width: 120px; /*decidere se lasciare max-width*/
    max-height: 150px;
    min-width: 65px;
    min-height: 85px;
    background-color: #8C4A4A;  
    display: grid;
    place-items: center;
    border: 0.5vw solid #002c53;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3 all ease;
    background-image: url('../images/cropped-logo.png'); /* Percorso dell'immagine */
    opacity: 1;
    /*background-size: 65px;/*10vw*//*70px 70px; /* Imposta le dimensioni desiderate */
    background-repeat: no-repeat;
    background-position: center;
    background-size:80%;
    overflow: auto;


}


.card.flipped{
    background-image: transparent;
}



#timer{
    font-size: 40px/*300% /*6vw*/;
    font-family: fantasy;
    color: #002c53 ;
}

#tempo{
    font-family: fantasy;
    color: #002c53 ;
    font-size: 40px/*7vw*/;

}

.card.shake{
    background-color: #696969;
    animation: shake 0.5s;
}

@keyframes shake{
    0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }

} 

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*overflow: auto;*/
    background-color: #002c53(0,0,0,0.4);
    
}

.modal-content {
    background-color: #F2EFE9;
    border: 4px solid #002c53;
    margin: 27% auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
}



.close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #002c53;
    text-decoration: none;
    cursor: pointer;
}





