body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden;
}

.heading {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 65px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
}

.score-message {
    color: #002c53;
    font-size: calc(3vh);
    font-family: Roboto Mono;
    font-weight: 900;
    margin-bottom: 40px;
    text-align: center;
}

#scoreboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 7%;;
    transform: translateY(-7%);
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffff;
}
 
.game-container {
    position: relative;
    width: 85vw;
    height: 45vw;
    max-width: 800px;
    max-height: 400px;
    background-color:#548DBF;
    border-radius: 20px;
    border: #002c53 8px solid;
    margin-top: 50px;
}

.background-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    opacity: 0.5; 
}

.paddle {
    position: absolute;
    width: 1.7%;
    height: 22%;
    background-color: #fff;
}

#playerPaddle {
    left: 20px;
    top: 150px;
}

#computerPaddle {
    right: 20px;
    top: 150px;
}

.ball {
    position: absolute;
    width: 2%;
    height: 3%;
    background-color: #fff;
    border-radius: 50%;
    z-index: 2;
}

.half-line {
    position: absolute;
    width: 8px;
    height: 100%;
    background-color: #002c53;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 1;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #002c53(0,0,0,0.4); 
    z-index: 2;
}

.modal-content {
    background-color: #F2EFE9;
    border: 6px solid #002c53;
    margin: 27% auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    color: #002c53;
}

.close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #002c53;
    text-decoration: none;
    cursor: pointer;
}

.hand{
    position: absolute;
    background-image: url(../images/touch.png) !important;
    background-size: 80%;
    background-repeat: no-repeat;
    top: 55%;
    left: 51.5%;
    transform: translate(-51.5%, -55%);
    height: 60px;
    width: 60px;
    z-index: 3;
    align-items: center;
    background-color: transparent;
    transition: opacity 1s;
    opacity: 1;
    visibility: visible;
}

@media (max-width: 850px) {
    .heading { font-size: 60px; } /* Adjust as needed */
}

@media (max-width: 680px) {
    .heading { font-size: 50px; } /* Adjust as needed */
}

@media (max-width: 500px) {
    .heading { font-size: 45px; } /* Adjust as needed */
}