#tempo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #002c53;
    font-size: 40px;
    margin-top: 40px;
}

#timerContainer {
    background-color: #ffffff;
    position: relative;
    width: 60%;
    height: 30px;
    margin: 0 auto;
    overflow: hidden;

    border: 4px solid rgb(51, 51, 51);
    border-radius: 5px;
    padding: 1.5px;
    box-shadow: 4px 4px 4px black;
}

#timerBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(70, 121, 166);
    animation: fillTimer linear forwards;
}

@keyframes fillTimer {
    0% {
        width: 100%;
    }
    50% {
        background-color: #8C4A4A;
    }
    100% {
        width: 0%;
        background-color: black;
    }
}
