.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Imposta l'altezza al 100% della viewport height */
}

h1 {
    margin-bottom: 20px; /* Aggiunto margine inferiore per separare il titolo dalla board */
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto; /* Centrare la board orizzontalmente */
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    cursor: pointer;
}


#tempo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #002c53;
    font-size: 40px;
    margin-top: 40px;
}

#timerContainer {
    position: relative;
    width: 60%; /* Riduci la larghezza del container del timer */
    height: 20px; /* Riduci l'altezza della barra del timer */
    margin: 0 auto; /* Centra il container */
    border: 1px solid black; /* Aggiungi il bordo nero */
    overflow: hidden; /* Nascondi il contenuto che va oltre i limiti del container */
}

#timerBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* La barra del timer è inizialmente piena */
    height: 100%;
    background-color: #59bb4c; /* Colore della barra del timer (verde) quando è piena */
    animation: fillTimer linear forwards; /* Animazione per riempire la barra del timer */
}

/* Cambia il colore della barra del timer a giallo quando è a metà */
@keyframes fillTimer {
    0% {
        width: 100%;
    }
    50% {
        background-color: yellow; /* Giallo quando è a metà */
    }
    100% {
        width: 0%;
        background-color: red; /* Rosso quando sta per finire il tempo */
    }
}
