@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.text, p{ 
    font-family: Roboto Mono; 
    text-align: center;   
    word-wrap: break-word;
    overflow: hidden;
}

.primary {
  background-color: #8C4A4A !important;
}
  
.secondary {
  background-color: rgb(70, 121, 166) !important;
}