html, body {
    margin: 0; 
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #8C4A4A;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #8C4A4A;
    color:#002c53;
    text-align: center;

    font-size: 450%;
    font-weight: 400;
    padding: 0 2px;

    flex: 3 1 auto;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;
    min-height: 40dvh;

    flex: 7 1 auto;
}

 #footer {
    flex: 6 1 auto;
 }

.result {
    opacity: 0;
    text-align: center;
    font-size: 2.3em;
    font-weight: 500;
    margin-top: 30px;
    font-family: Roboto Mono;
    color: rgb(70, 121, 166);

    background-color: white;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 20px;
    margin-top: 80px;
    justify-content: center;
    align-content: center;

    background-color: rgb(70, 121, 166);
    width: 380px;
    height: 380px;
    border-radius: 15px;

}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    width: 100px;
    height: 100px;
    font-family: Roboto Mono;
    font-size: 3em;
    color: #993e3e;
    font-weight: 900;

    border: 0px solid black;
    background-color: white;
}

.score-message {
    color: #002c53;
    font-size: calc(4vh);
    font-family: Roboto Mono;
    font-weight: 900;
    margin-top: 40px;
}



@media (max-height: 768px) {
    .container {
        zoom: 0.7;
    }
}